.locationBox {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.locationBox .headingBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.5rem 2rem;
  width: 100%;
  margin-bottom: 4rem;
}

.locationBox .headingBox h2 {
  font-size: 3.75rem;
  color: #fff;
  text-align: center;
  font-family: "Anta", sans-serif;
  text-shadow: 2px 2px #000;
}

.locationBox .headingBox hr {
  height: 2px;
  background-color: #fff;
  width: 50%;
  margin: 1rem auto;
}

.locationMap-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 5rem 2.5rem;
  background: linear-gradient(rgba(6, 57, 112, 0.8), rgba(6, 57, 112, 0.8)),
    url(../Imgs/location_background.jpg) center/cover fixed no-repeat;
}

.locationMap-wrapper--phoneIcon {
  position: absolute;
  top: 3rem;
  left: 1rem;
  font-size: 10rem;
  transform: rotate(75deg);
  color: rgb(0, 128, 0, 0.6);
}

.locationMap-wrapper--textbox {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}

.locationMap-wrapper--textbox h3,
.locationMap-wrapper--textbox h4,
.locationMap-wrapper--textbox p {
  color: #fff;
  text-align: center;
  font-family: "Anta", sans-serif;
  text-shadow: 2px 2px #000;
}

.locationMap-wrapper--textbox h3 {
  font-size: 3.5rem;
}

.locationMap-wrapper--textbox h4 {
  font-size: 3rem;
}

.locationMap-wrapper--textbox p {
  font-size: 2rem;
  margin: 1rem auto;
}

.locationMap-wrapper--textbox p span {
  color: #ffff4d;
  font-family: "Anta", sans-serif;
  text-shadow: 2px 2px #000;
  font-size: 2rem;
}

.text-box .text-box--btn {
  margin-top: 2.75rem;
  padding: 1rem 2.5rem;
  background-color: #ffff4d;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Anta", sans-serif;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.text-box .text-box--btn:hover {
  padding: 1.25rem 3rem;
  box-shadow: 0 1rem 2rem #000;
  font-size: 2.25rem;
}

.locationMap-wrapper--map {
  width: 55rem;
  height: 40rem;
}

@media (max-width: 1200px) {
  .locationBox .headingBox {
    margin-bottom: 3rem;
  }

  .locationMap-wrapper--textbox {
    margin-right: 7.5rem;
  }

  .locationMap-wrapper--textbox h3 {
    font-size: 3rem;
  }

  .locationMap-wrapper--textbox h4 {
    font-size: 2.5rem;
  }

  .locationMap-wrapper--textbox p {
    font-size: 2.25rem;
  }
}

@media (max-width: 1100px) {
  .locationMap-wrapper--phoneIcon {
    font-size: 7.5rem;
  }

  .locationMap-wrapper--textbox {
    margin-right: 5rem;
  }

  .locationMap-wrapper--textbox h3 {
    font-size: 2.45rem;
  }

  .locationMap-wrapper--textbox h4 {
    font-size: 2.25rem;
  }

  .locationMap-wrapper--textbox p {
    font-size: 1.75rem;
  }
}

@media (max-width: 1000px) {
  .locationMap-wrapper--map {
    width: 45rem;
    height: 40rem;
  }
}

@media (max-width: 900px) {
  .locationBox .headingBox {
    padding: 1.25rem 2rem;
  }

  .locationBox .headingBox h2 {
    font-size: 3.5rem;
  }

  .locationMap-wrapper {
    padding: 3.5rem 1.5rem;
  }

  .locationMap-wrapper--phoneIcon {
    font-size: 5rem;
  }

  .locationMap-wrapper--textbox h3 {
    font-size: 2.25rem;
  }

  .locationMap-wrapper--textbox h4 {
    font-size: 2.1rem;
  }

  .locationMap-wrapper--textbox p {
    font-size: 1.55rem;
  }

  .locationMap-wrapper--map {
    width: 40rem;
    height: 37.5rem;
  }
}

@media (max-width: 800px) {
  .locationMap-wrapper--phoneIcon {
    font-size: 3.5rem;
  }

  .locationMap-wrapper--map {
    width: 35rem;
    height: 35rem;
  }

  .text-box .text-box--btn {
    padding: 0.75rem 2rem;
    font-size: 1.75rem;
  }

  .text-box .text-box--btn:hover {
    padding: 1rem 2.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .locationMap-wrapper--textbox h3 {
    margin-bottom: 0.5rem;
    font-size: 2.75rem;
  }
}

@media (max-width: 700px) {
  .locationBox .headingBox {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
  }

  .locationBox .headingBox h2 {
    font-size: 3rem;
  }

  .locationMap-wrapper--textbox {
    margin-right: 2.5rem;
  }
}

@media (max-width: 600px) {
  .locationMap-wrapper--textbox {
    margin-right: 1.25rem;
  }
}

@media (max-width: 550px) {
  .locationMap-wrapper {
    flex-direction: column;
    gap: 2.5rem;
    padding: 6.5rem 2.5rem;
  }

  .locationMap-wrapper--textbox {
    margin-right: 0;
  }

  .text-box .text-box--btn {
    margin: 2.5rem 2.5rem 1.5rem 2.5rem;
  }

  .locationMap-wrapper--textbox p {
    margin: 0 auto;
  }

  .locationMap-wrapper--map {
    width: 100%;
    height: 35rem;
  }
}

@media (max-width: 450px) {
  .locationBox .headingBox {
    margin-bottom: 0.75rem;
  }

  .locationBox .headingBox h2 {
    font-size: 2.75rem;
  }

  .locationMap-wrapper {
    gap: 1.5rem;
    padding: 4.5rem 1.5rem;
  }

  .locationMap-wrapper--phoneIcon {
    display: none;
  }

  .locationMap-wrapper--textbox h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .locationMap-wrapper--textbox h3 {
    font-size: 2.25rem;
  }
}
