.aboutUsBox {
  margin-bottom: 10rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.6);
}

.aboutUsBox .headingBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.5rem 2rem;
  width: 100%;
  margin-bottom: 4rem;
}

.aboutUsBox .headingBox h2 {
  font-size: 3.75rem;
  color: #fff;
  text-align: center;
  font-family: "Anta", sans-serif;
  text-shadow: 2px 2px #000;
}

.aboutUsBox .headingBox hr {
  height: 2px;
  background-color: #fff;
  width: 50%;
  margin: 1rem auto;
}

/*******************aboutUsWrapper--experience********************/

.aboutUsWrapper--experience {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10rem 0 5rem;
}

.aboutUsWrapper--experience-bullets {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: rgba(6, 57, 112, 0.8);
  padding: 2rem;
  border-radius: 2rem;
  max-width: 52.5rem;
  margin: 0 auto;
  box-shadow: 0 0 2rem rgba(6, 57, 112, 0.8);
}

.experience-bullet {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
}

.experience-bullet p {
  font-size: 1.75rem;
  color: #fff;
  font-family: "Anta", sans-serif;
}

.experience-iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: tomato;
  box-shadow: 0 0 0.4rem #fff;
}

.experience-icon {
  font-size: 3.15rem;
  color: #fff;
}

.aboutUsWrapper--experience-img {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUsWrapper--experience-img::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background-color: rgba(6, 57, 112, 0.8);
  box-shadow: 0 0 1rem rgba(6, 57, 112, 0.8);
  z-index: -1;
}

/*******************aboutUsWrapper--services********************/
.aboutUsWrapper--services {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 5rem;
  gap: 3rem;
  background-color: rgba(6, 57, 112, 0.8);
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem #000;
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew img {
  /* width: 47.5rem; */
  width: 100%;
  margin: 0 auto 0.75rem auto;
  box-shadow: 0 0.5rem 1rem #000;
  transition: all 0.3s;
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew img:hover {
  transform: scale(1.1);
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew p {
  color: #fff;
  font-size: 1.5rem;
  padding: 1.25rem 2rem 1rem 2rem;
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew button {
  font-size: 1.35rem;
  font-weight: 700;
  border: none;
  padding: 0.5rem 1rem;
  background-color: yellow;
  transition: all 0.3s;
  cursor: pointer;
  margin-bottom: 1rem;
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 1rem #000;
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew button .closeArr {
  font-size: 2rem;
}

.aboutUsWrapper--services-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutUsWrapper--service-box--row {
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  gap: 1rem;
}

.service-box {
  background-color: rgba(0, 0, 0, 0.6);
  width: 32.5rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem #000;
  position: relative;
}

.service-box .curtain {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(6, 57, 112, 0.8);
  transition: all 0.3s;
  z-index: 2;
}

.service-box:hover .curtain {
  height: 100%;
}

.service-box .curtain button {
  display: none;
  align-items: center;
  gap: 0.25rem;
  font-size: 2rem;
  font-family: "Anta", sans-serif;
  cursor: pointer;
  background-color: yellow;
  padding: 0.5rem 1rem;
  color: #000;
  text-shadow: 1px 1px #fff;
  box-shadow: 0 0.2rem 0.2rem #000;
  border: none;
  transition: all 0.3s;
}

.service-box .curtain button:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.6rem 0.6rem #000;
}

.service-box:hover .curtain button {
  display: flex;
}

.service-box .curtain button .curtain-arr {
  font-size: 2.5rem;
}

.service-box img {
  width: 100%;
  transition: all 0.3s;
}

.service-box img:hover {
  transform: scale(1.1);
}

.service-box p {
  color: #fff;
  font-size: 1.25rem;
  padding: 1rem;
}

@media (max-width: 1200px) {
  .aboutUsWrapper--experience {
    padding: 0 2.5rem 0 2.5rem;
    gap: 2.5rem;
  }

  /*******************aboutUsWrapper--services********************/
  .aboutUsWrapper--services {
    padding: 3.5rem 2.5rem;
  }

  .service-box {
    width: 30rem;
  }
}

@media (max-width: 1050px) {
  /*******************aboutUsWrapper--services********************/
  .aboutUsWrapper--services {
    padding: 2.5rem 1.5rem;
  }

  .aboutUsWrapper--services .aboutUsWrapper--services-crew img {
    margin: 0 auto 0.25rem auto;
  }

  .aboutUsWrapper--services .aboutUsWrapper--services-crew p {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
  }

  .service-box {
    width: 30rem;
  }
}

@media (max-width: 1000px) {
  .aboutUsWrapper--experience {
    padding: 0 2.5rem;
  }

  .aboutUsWrapper--experience-bullets {
    gap: 1rem;
  }

  .experience-bullet p {
    font-size: 1.6rem;
  }

  .experience-iconBox {
    min-width: 4.75rem;
    height: 4.75rem;
  }

  .experience-icon {
    font-size: 3rem;
  }

  .aboutUsWrapper--experience-img img {
    width: 100%;
  }

  .aboutUsWrapper--experience-img::after {
    width: 32.5rem;
    height: 32.5rem;
  }

  /*******************aboutUsWrapper--services********************/
  .service-box {
    width: 27.5rem;
  }
}

@media (max-width: 950px) {
  /*******************aboutUsWrapper--services********************/

  .aboutUsBox .headingBox {
    margin-bottom: 2rem;
  }

  .aboutUsBox .headingBox h2 {
    font-size: 3.5rem;
  }

  .aboutUsWrapper--services {
    gap: 1rem;
  }

  .aboutUsWrapper--services .aboutUsWrapper--services-crew p {
    font-size: 1.3rem;
    padding: 1rem 1.25rem;
  }

  .service-box {
    width: 25rem;
  }
}

@media (max-width: 850px) {
  .aboutUsWrapper--experience {
    grid-template-columns: 1.6fr 1fr;
    gap: 4rem;
  }

  .experience-bullet p {
    font-size: 1.45rem;
  }

  .experience-iconBox {
    min-width: 4.5rem;
    height: 4.5rem;
  }

  .experience-icon {
    font-size: 2.75rem;
  }

  .aboutUsWrapper--experience-img img {
    width: 100%;
  }

  .aboutUsWrapper--experience-img::after {
    width: 24rem;
    height: 24rem;
  }

  /*******************aboutUsWrapper--services********************/
  .aboutUsWrapper--services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    padding: 5rem 2.5rem;
  }

  .aboutUsWrapper--services .aboutUsWrapper--services-crew {
    width: 75%;
    padding-bottom: 1.5rem;
  }

  .aboutUsWrapper--services .aboutUsWrapper--services-crew p {
    font-size: 1.75rem;
    padding: 2rem 1.5rem;
  }

  .aboutUsWrapper--services .aboutUsWrapper--services-crew button {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
  }

  .service-box {
    width: 35rem;
  }
}

@media (max-width: 750px) {
  .aboutUsWrapper--experience {
    gap: 2rem;
    padding: 0 1.5rem;
  }

  .aboutUsWrapper--experience-bullets {
    padding: 1rem;
  }

  .aboutUsWrapper--experience-img::after {
    left: 50%;
  }

  /*******************aboutUsWrapper--services********************/
  .aboutUsWrapper--services .aboutUsWrapper--services-crew p {
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .service-box {
    width: 30rem;
  }
}

@media (max-width: 650px) {
  .aboutUsWrapper--experience {
    grid-template-columns: 1.8fr 1fr;
    gap: 1rem;
    padding: 0 1rem;
  }

  .experience-bullet p {
    font-size: 1.3rem;
  }

  .experience-iconBox {
    min-width: 4rem;
    height: 4rem;
  }

  .experience-icon {
    font-size: 2.5rem;
  }

  .aboutUsWrapper--experience-img img {
    width: 90%;
  }

  .aboutUsWrapper--experience-img::after {
    width: 16.5rem;
    height: 16.5rem;
  }

  /*******************aboutUsWrapper--services********************/
  .aboutUsWrapper--services {
    padding: 3.5rem 2.5rem;
  }

  .aboutUsWrapper--services .aboutUsWrapper--services-crew {
    width: 85%;
  }

  .service-box {
    width: 27.5rem;
  }
}

@media (max-width: 600px) {
  /*******************aboutUsWrapper--services********************/
  .service-box {
    width: 25rem;
  }
}

@media (max-width: 550px) {
  .aboutUsWrapper--experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 0 2.5rem;
  }

  .aboutUsWrapper--experience-bullets {
    padding: 1.75rem 1.25rem;
  }

  .experience-bullet p {
    font-size: 1.6rem;
  }

  .experience-iconBox {
    min-width: 5.5rem;
    height: 5.5rem;
  }

  .experience-icon {
    font-size: 3.5rem;
  }

  .aboutUsWrapper--experience-img {
    width: 80%;
  }

  .aboutUsWrapper--experience-img img {
    width: 100%;
  }

  .aboutUsWrapper--experience-img::after {
    width: 32.5rem;
    height: 32.5rem;
  }

  /*******************aboutUsWrapper--services********************/
  .aboutUsWrapper--services {
    padding: 3.5rem 1.5rem 4.5rem 1.5rem;
  }

  .aboutUsWrapper--services-wrapper {
    gap: 2rem;
  }

  .aboutUsWrapper--services .aboutUsWrapper--services-crew {
    width: 95%;
  }

  .aboutUsWrapper--service-box--row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .service-box {
    width: 85%;
  }

  .service-box p {
    font-size: 1.6rem;
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  .aboutUsWrapper--experience {
    gap: 1.5rem;
    padding: 0 1.25rem;
  }

  .aboutUsWrapper--experience-bullets {
    padding: 1.5rem 1.15rem;
  }

  .experience-bullet p {
    font-size: 1.45rem;
  }

  .experience-iconBox {
    min-width: 5rem;
    height: 5rem;
  }

  .experience-icon {
    font-size: 3.2rem;
  }

  .aboutUsWrapper--experience-img {
    width: 80%;
  }

  .aboutUsWrapper--experience-img img {
    width: 100%;
  }

  .aboutUsWrapper--experience-img::after {
    width: 27.5rem;
    height: 27.5rem;
  }

  /*******************aboutUsWrapper--services********************/

  .service-box {
    width: 90%;
  }

  .aboutUsWrapper--services .aboutUsWrapper--services-crew p,
  .service-box p {
    font-size: 1.35rem;
  }
}

@media (max-width: 380px) {
  .aboutUsWrapper--experience-bullets {
    padding: 1.25rem 1rem;
  }

  .experience-bullet p {
    font-size: 1.3rem;
  }

  .experience-iconBox {
    min-width: 4.5rem;
    height: 4.5rem;
  }

  .experience-icon {
    font-size: 3rem;
  }

  .aboutUsWrapper--experience-img::after {
    width: 25rem;
    height: 25rem;
  }

  /*******************aboutUsWrapper--services********************/

  .aboutUsWrapper--services .aboutUsWrapper--services-crew {
    width: 100%;
  }

  .service-box {
    width: 95%;
  }
}
