.aboutUsBox {
  margin-bottom: 10rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.6);
}

.aboutUsBox .headingBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.5rem 2rem;
  width: 100%;
  margin-bottom: 4rem;
}

.aboutUsBox .headingBox h2 {
  font-size: 3.75rem;
  color: #fff;
  text-align: center;
  font-family: "Anta", sans-serif;
  text-shadow: 2px 2px #000;
}

.aboutUsBox .headingBox hr {
  height: 2px;
  background-color: #fff;
  width: 50%;
  margin: 1rem auto;
}

/*******************aboutUsWrapper--experience********************/

.aboutUsWrapper--experience {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10rem 0 5rem;
}

.aboutUsWrapper--experience-bullets {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: rgba(6, 57, 112, 0.8);
  padding: 2rem;
  border-radius: 2rem;
  max-width: 52.5rem;
  margin: 0 auto;
  box-shadow: 0 0 2rem rgba(6, 57, 112, 0.8);
}

.experience-bullet {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
}

.experience-bullet p {
  font-size: 1.75rem;
  color: #fff;
  font-family: "Anta", sans-serif;
}

.experience-iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: tomato;
  box-shadow: 0 0 0.4rem #fff;
}

.experience-icon {
  font-size: 3.15rem;
  color: #fff;
}

.aboutUsWrapper--experience-img {
  width: 100%;
  position: relative;
}

.aboutUsWrapper--experience-img::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background-color: rgba(6, 57, 112, 0.8);
  box-shadow: 0 0 1rem rgba(6, 57, 112, 0.8);
  z-index: -1;
}

/*******************aboutUsWrapper--services********************/
.aboutUsWrapper--services {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 5rem 7.5rem;
  gap: 5rem;
  background-color: rgba(6, 57, 112, 0.8);
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem #000;
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew img {
  width: 47.5rem;
  margin: 0 auto 0.75rem auto;
  box-shadow: 0 0.5rem 1rem #000;
  transition: all 0.3s;
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew img:hover {
  transform: scale(1.1);
}

.aboutUsWrapper--services .aboutUsWrapper--services-crew p {
  color: #fff;
  font-size: 1.5rem;
  padding: 1.25rem 2rem 1rem 2rem;
}

.aboutUsWrapper--services-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutUsWrapper--service-box--row {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
}

.service-box {
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 27.5rem;
  max-width: 35rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem #000;
}

.service-box img {
  width: 100%;
  transition: all 0.3s;
  filter: brightness(60%);
}

.service-box img:hover {
  transform: scale(1.1);
  filter: brightness(100%);
}

.service-box p {
  color: #fff;
  font-size: 1.25rem;
  padding: 1rem;
}
